.highlight {
    padding:1.6rem;
    background-color: rgb(63, 63, 63);
    clear:both;
	overflow-x: auto;
	font-size: 0.9rem;
	margin-bottom: 1.6rem;
}

.highlight > pre {
	background-color: inherit !important;
	margin: 0;
	line-height: 1.77;
}

article > p > code ,
.single-post > p > code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    padding: 2px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}
