.highlight {
    padding:1.6em;
    background-color: rgb(63, 63, 63);
    clear:both;
	overflow-x: auto;
}

.highlight > pre {
	background-color: inherit !important;
}


article > p > code {
	border: 1px solid #ddd;
	background-color: #60ff004d;
}
