.footer {
	margin-bottom:0.8rem;
	margin-top:4.8rem;
	text-align: right;

	a,
	a:active,
	a:visited,
	a:link	{
		text-decoration: underline;
		color:#353535;
	}

	text-transform: lowercase;

}

.footer-nav,
.footer-nav li,
.footer-nav a {
	display:inline;
	padding-left:0;
}

.footer-attribution,
.footer-nav a {
	line-height:(1.0 / 0.8) * 1.6;
	font-size: 0.8rem;
	color:#353535;
}
