.footer {
	margin-bottom:1.6em;
	text-align:left;

	a,
	a:active,
	a:visited,
	a:link	{
		text-decoration: underline;
		color:#353535;
	}

	text-transform: lowercase;

}

.footer-nav,
.footer-nav li,
.footer-nav a {
	display:inline;
}

.footer-attribution,
.footer-nav a {
	line-height:(1.0 / 0.8) * 1.6; 
	font-size: 0.8em;
	color:#353535;
}
