form.hireme input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

form > input[type="submit"] {
	line-height: 1.6;
	font-size: 1rem;
}

form.hireme label {
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.hireme__textarea {
	height: 4.5rem;
}

.hireme__button {
	border-radius: 2px;
	padding: 8px 5px;
	background-color: #78bc53;
	color: #fff;
	display: inline-block;
	border: 0 solid red;
	cursor: pointer;
}
