@import 'functions';

.hero {
	background: url('/hero-2.png');
}

.hero h1 {
	@include vertical-rhythm("huge");
	font-weight:500;
}

.hero p {
	@include vertical-rhythm("regular");
	max-width: 100%;
}

.hero span.hashtag {
	color:lightgrey;
	display:none;
}

.hero p:hover span.hashtag {
	display:inline;
}

section.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.first-col {
	width: 70%;
}

.second-col {
	width: 30%;
}

$m : 1.6;


#blog,
.projects,
.articles {
	max-width: 36rem;
}

.section-header {
	border-top: 1px solid #151515;
	border-top-style: dotted;
	margin-bottom: 2.46rem;
	padding-top:1.23em;
	font-variant: small-caps;
	font-size: 1.3em;
	font-weight: 500;
	line-height:1.23;
}

.articles__article {
}

.articles h2 {
	@include vertical-rhythm("regular");
}

.articles h3 {
	@include vertical-rhythm("regular");
}

.articles p {
	margin-top: ($m / 0.9) * 1em;
	font-style:oblique;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.7777;
	padding-left: (4 * ($m / 0.9)) * 1em;
	margin-bottom: 3.555em;
	font-family: "Montserrat";
}

.articles time {
	font-weight: 800;
	color: gray;
}

/* media queries */

.desktop-only {
	display: none;
}

@media screen and (min-width: 425px) {
	.hero {
		padding-bottom:8rem;
		padding-top: 9.6rem;
		background-size: 52%;
		background-repeat: no-repeat;
		background-position-x: right;
		background-position-y: center;
	}

	.hero p {
		max-width: 12rem;
	}

	.articles__article {
		padding-left: 4rem;
	}
}


@media screen and (min-width: 768px) {

	.mobile-only {
		display: none;
	}

	.desktop-only {
		display: inherit;
	}

}
