@import 'style';
@import 'blockquote';
@import 'nav';
@import 'index.scss';
@import 'footer.scss';
@import 'code';
@import 'single-post';
@import 'form';
@import 'projects';
@import 'project';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body {
	font-family: "Playfair Display", sans-serif;
	box-sizing: border-box;
	margin:0;padding:0;
	font-size:16px !important;
	color:#252525;
	margin:1.6em;
	background-color: #efefef;
}

a,
a:active,
a:focus,
a:visited {
	color:#252525;
}

.container-fluid {
	padding:0.8em;
}

p a,
a:hover {
	text-decoration: underline;
}

@media screen and (min-width:768px) {
	body {
		margin:0;
	}

}
