.project__container {
	
}

.mobile-only.project__cover {
	background-size: contain;
	height:20rem;
	background-repeat:no-repeat;
}

.project__section {
	display: flex;
	justify-content: center;
}

.project__column {
}

.project__jumbotron {
	background-image: url('https://richardbutlerthesuccesscoach.com/images/laptop-placeholder.png');
	width: 45rem;
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {

	.p1 {
		max-width:15rem;
		margin: 8rem 0;
	}
}
