
.single-post {
	margin: 1.6rem auto 8.0rem;
}

.single-post h1 {
	font-size: 3.2rem;
	line-height:1;
	font-family: "Playfair Display", "Century Schoolbook", serif;
	margin-bottom: 0.5rem;
	font-weight: 800;
}

.single-post h2 {
	line-height:1.33;
	font-size:1.2rem;
	margin: 2.66rem 0 1.33rem;
}


.single-post table {
	margin: 0 auto;
	table-layout: fixed;
	text-align:center;
	border-collapse: collapse;
}

.single-post table th,
.single-post table tr{
	padding: 5px;
}

.single-post table thead {
	border-bottom: 2px solid #222;
}

.single-post li, 
.single-post p {
	line-height:1.77;
	font-size: 0.9rem;
	margin-bottom: 1.77rem;
	font-family: "Montserrat", sans-serif;
}

.single-post li {
	margin-bottom:0;
}

.single-post ul {
	margin-bottom:1.77rem;
	margin-left: 1.77rem;
}

.single-post p:first-of-type {
	font-style: oblique;
}

.meta {
	display:flex;
	flex-flow: row;
	align-items: center;
	margin-bottom:1.6rem;
}

.meta .col-2 {
	padding-left:0.8rem;
}

.meta__author img {
	border-radius:50%;
	height:3.2rem;
	width:3.2rem;
}

.single-post img {
	max-width: 36rem;
}

