{{ partial "header.html" . }}

		<div class="container">
			<div class="hero">
				{{ with .Site.GetPage "/" }}
				<h1>{{ .Title }}</h1>
				<p>
					{{ .Content }}
				</p>
				{{ end }}
			</div>
			<h1 class="section-header" id="work">
				client work
			</h1>
			<div class="projects">
				{{- $projects := where .Site.RegularPages "Section" "projects" }}
				{{ range $projects }}
					<div class="projects__project">
						<div style="background-image: url({{ .Params.img }});">
						</div>
						<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						<p> {{ .Description}} </p>
						{{ range .Params.Tags }}
							<span class="project-tag">{{ . }}</span>
						{{ end }}
					</div>
				{{ end }}
			</div>
			<h1 class="section-header" id="blog">
				on software
			</h1>
			<div class="articles">
				{{- $posts := where .Site.RegularPages "Section" "posts" }}
				{{- range $posts.GroupByDate "2006" }}
					<h2>
					{{ .Key }}
					</h2>
					{{ range .Pages }}
					<div class="articles__article">
						 <h3>
							 <time datetime="" class="by-line">
								 {{ .Date.Format "Jan 02" }} &bull;
							 </time>
							 <a href="{{ .Permalink }}">{{ .Title }}</a>
						</h3>
						 <!--<p> {{ .Summary }} </p>-->
					</div>
					{{ end }}
				{{ end }}
			</div>
			<!--
			<h1 class="section-header" id="blog">
				on other topics
			</h1>
			-->
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
