<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" 
			content="width=device-width, user-scalable=no">
		{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
		<link rel="stylesheet" href="{{ $style.Permalink }}"/>
	</head>
	<body>

		<nav>
			<div class="logo">
				<h1>
					<a href="https://federico-arias.github.io">
						{ federico-arias } 
					</a>
				</h1>
			</div>
			<div class="menu">
				<ul>
					<li>
						<a href="/">
							About me
						</a>
					</li>
					<li>
						<a href="/">
							Hire me!
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="hero">
				<h1>Hi there!</h1>
				<p>
					I write code. 
					<span class="hashtag">
						#algorithms
						#stats
						#testing
					</span>
				</p>
				<p>
					I ride bikes.
					<span class="hashtag">
						#powerlifting
						#dieting
					</span>
				</p>
				<p>
					I read theory.
					<span class="hashtag">
						#marxism
						#go
					</span>
				</p>
				<p>
					I build things.
					<span class="hashtag">
						#selfbuilding
						#go
					</span>
				</p>
			</div>
			<h1 class="section-header">
				blog posts
			</h1>
			<div class="articles">
				 {{ range where .Pages "Section" "posts" }}
					 <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
					 <time datetime="" class="by-line"> 
						 {{ .Date.Format "2006-01-02" }}
					 </time>:
					 <p> {{ .Summary }} </p>

				{{ end }}
				<h2>Parks and Recreation &dot; May 20th, 2019</h2> 
				<p>
					This is the first paragraph
					after an article title
					that depicts the life and
					views of a nineteenth century
					aristocrat called Mae. 
					Not the title, the article.
				</p>

				<h2>Parks and Recreation</h2>
				<p>
					This is the first paragraph
					after an article title
					that depicts the life and
					views of a nineteenth century
					aristocrat called Mae. 
					Not the title, the article.
				</p>
			</div>
			<h1 class="section-header">
				skills
			</h1>
			<h1 class="section-header">
				projects
			</h1>
			<h1 class="section-header">
				biking
			</h1>
			<h1 class="section-header">
				coding	
			</h1>
			<h1 class="section-header">
				reading
			</h1>
		</div>
	</body>
</html>
